<!-- shw2018 洪卫  modify 2019.08.15-->
<%- partial('_partial/bg-cover') %>

<main class="content">
    <div id="aboutme" class="container contact-container">
            <div class="card">
                    <div class="card-content">
                            <div id="articleContent" data-aos="fade-up">
                                    <%- page.content %>
                                </div>
                    </div>
                </div>
                   
                        <% if (theme.gitalk && theme.gitalk.enable) { %>
                            <%- partial('_partial/gitalk') %>
                        <% } %>
        
                        <% if (theme.gitment.enable) { %>
                        <%- partial('_partial/gitment') %>
                        <% } %>
        
                        <% if (theme.disqus.enable) { %>
                        <%- partial('_partial/disqus') %>
                        <% } %>
        
                        <% if (theme.livere && theme.livere.enable) { %>
                        <%- partial('_partial/livere') %>
                        <% } %>
        
                        <% if (theme.valine && theme.valine.enable) { %>
                        <%- partial('_partial/valine') %>
                        <% } %>

    </div>
</main>
<script>
    var xlm_wid='15655';
    var xlm_url='https://www.xianliao.me/';
</script>
<script type='text/javascript' charset='UTF-8' src='https://www.xianliao.me/embed.js'></script>